<h1>Listing photos</h1>

<table>
  <tr>
    <% for column in Photo.content_columns %>
      <th><%= column.human_name %></th>
     <% end %>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= link_to image_tag("photos/#{photo.thumbnail}",:size=>'75x56',:border=>1), 
                      url_for(:action=>'show',:id=>photo) %> </td>
    <% for column in Photo.content_columns %>
      <td><%= photo.send(column.name)%></td>
    <% end %>
    <td><%= link_to '删除', photo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New photo', new_photo_path %>
