<h1>New photo</h1>
<%= render :partial=>'form' %>
<!--
<% form_for(@photo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
-->
<%= link_to 'Back', photos_path %>
